---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Blog</h1>
			<br />

			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<h4 class="title">{post.data.title}</h4>
									<p>{post.data.description}</p>
									<p>- <FormattedDate date={post.data.pubDate} /></p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
	/* Disable bullet points and indent for list items */
	ul {
		list-style-type: none;
		padding: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	/* On hover we want to underline it and make it blue in an animated way */
	/* we want the transition to go both ways */
	.title, .title:hover {
		text-decoration: underline;
	}

	.title:hover {
		color: #3182ce;
		transition: color linear .15s;
	}
</style>
